@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.header{
  display:block;
  text-align:center;
  font-size: 50px;
  font-weight:bold;
  padding: 15px;
}
body{
  background-color: #99ccff;
  font-family: 'Roboto Slab', serif;
  text-align:center;
}
.identification{
  display: block;
  padding: 30px;
  margin: 10px;
  text-align:center;
}
.gender{
  padding: 3px;
  
}

