@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

*{
  margin: 0em;
  padding: 0em;
  font-family: 'Roboto Slab', serif;
  background-color:steelblue;
 }

.header{
  display: block;
  text-align:center;
  padding: 2em;
  font-size: 70px;
  font-weight:bold;
}
.header > .dgs{
  font-size: 20px;
}
.reviews{
  text-align:center;
  vertical-align: middle;
}

.student_review{
  display:inline-block;
  background-color:#99ccff;
  padding: 1px;
  margin: 1px;
  border: 2px solid black;
  text-align:center;
  font-size: 25px;
  width: 290px;
  height: 150px;

}
.student_review > span{
  background-color: #99ccff;
}
.student_review > form {
  background-color: #99ccff;
}
input[type=text], textarea{
  background-color:white;
}
.class_review{
  display:inline-block;
  background-color:#99ccff;
  padding: 1px;
  margin: 1px;
  border: 2px solid black;
  text-align:center;
  font-size: 25px;
  width: 290px;
  height: 150px;
}
.class_review > span{
  background-color:#99ccff;
}
.class_review > form{
  background-color:#99ccff;
}
.teacher_review{
  display:inline-block;
  background-color:#99ccff;
  padding: 1px;
  margin: 1px;
  text-align:center;
  border: 2px solid black;
  font-size: 25px;
  width: 290px;
  height: 150px;
}
.teacher_review > span{
  background-color: #99ccff;
}
.teacher_review > form{
  background-color:#99ccff;
}
@media all and (min-width:500px) and (max-width:899px) {
  .body { width: 50%; }
@media all and (max-width:499px) {
  .body { width: 100%; }
}