@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body{
  background-color: steelblue;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
}
.header{
  display: block;
  text-align:left;
  padding: 15px;
  color:white;
  text-decoration:none;
}
.Identification{
  diaplay: block;
  text-align:center;
  font-size: 45px;
  padding: 75px;
}
.img-profile{
  display:inline-block;
  border: 1px solid black;
  margin:45px;
  width: 255px;
  height:275px;
  background-color:white;
  
}
.proflink{
  display:block;
  border: 1px solid black;
  margin:45px;
  width: 255px;
  height:35px;
  margin:auto;
  background-color:white;
}
.avgstats{
  display:inline-block;
  border: 1px solid black;
  margin: 10px;
  width: 225px;
  height:225px;
  font-weight:bold;
  background-color:white;
}
.Gender{
  display:inline-block;
  border: 1px solid black;
  margin:10px;
  width: 225px;
  height:225px;
  font-weight:bold;
  background-color:white;
}
.review{
  display:block;
  margin: 25px;
  padding: 25px;
  text-align:left;
  font-size: 25px;
  border: 1px solid black;
  width:50%;
  height: 175px;
  background-color: white;
}
