<!-- !DOCTYPE -->
<div class="header">
  <link rel="stylesheet" type="text/css" href="create.css">
  <span> Add a new review! </span>
</div>
<form method='POST' action="/review">
<div class="identification">
  {{ form.reviewerid.label }}: {{ form.reviewerid() }}
  {% if form.reviewerid.errors %}
  <b><br> {{ form.reviewerid.errors[0] }} <br><br></b>
  {% endif %}  
  {{ form.partnerid.label }} : {{ form.partnerid() }}
 {% if form.partnerid.errors %}
  <b><br> {{ form.partnerid.errors[0] }} <br><br></b>
  {% endif %}
</div>

  <br>
  {{ form.grade.label }}: {{ form.grade() }}
  {% if form.grade.errors %}
  <b><br> {{ form.grade.errors[0] }} <br><br></b>
  {% endif %}
   
  
  <br>
  {{ form.percentage.label }} : {{ form.percentage() }}
   {% if form.percentage.errors %}
  <b><br> {{ form.percentage.errors[0] }} <br><br></b>
  {% endif %}
  
  
  <br>
  {{ form.repartner.label }} : {{ form.repartner() }}
   {% if form.repartner.errors %}
  <b><br> {{ form.repartner.errors[0] }} <br><br></b>
  {% endif %}
  
  
  <br>
  {{ form.professorid.label }} : {{ form.professorid(rows=12, multiple=False) }}
  
   {% if form.professorid.errors %}
  <b><br> {{ form.professorid.errors[0] }} <br><br></b>
  {% endif %}
  
  <br>
  {{ form.classID.label }} : {{ form.classID() }}
  
   {% if form.classID.errors %}
  <b><br> {{ form.classID.errors[0] }} <br><br></b>
  {% endif %}
 
  <input type="submit" value="Submit">
</form>

 
