<!-- !DOCTYPE -->
<div class="header">
    <link rel="stylesheet" type="text/css" href="../static/css/land.css">
  <span> Peer Review</span>
</div>

<form method="POST" action = "/">
<div class="reviews">
  <div class="student_review">
    <span>Student Review</span>
   <div> {{ form.studentid.label }} : {{ form.studentid() }} </div>
  </div>
  
  <div class="teacher_review">
    <span>Teacher Review</span>
    <div> {{ form.professorid.label }} : {{ form.professorid() }} </div>
  </div>
  <input type="submit" value= "Submit">
</div>

