<!-- !DOCTYPE -->
<div class="header">
    <link rel="stylesheet" type="text/css" href="../static/css/land.css">
  <span> Peer Review</span>
</div>

<form method="POST" action ="/">
  <div> {{ form.studentid.label }}: {{ form.studentid() }} </div>
  <div> {{ form.professorid.label }}: {{ form.professorid() }} </div>
  <div> {{ form.classID.label }}: {{ form.classID() }} </div>
  <div class="input submit">
      <input type ="submit" value = "Submit"/>
  </div>
</form>
<!--<div class="reviews">
  <div class="student_review">
    <span>Student Review</span>
    <input type="text" name="search" placeholder="Search Student">
  </div>

  <div class="class_review">
    <span>Class Review</span> <br>
    <input type="text" name="search" placeholder="Search Class">
  </div>

  <div class="teacher_review">
    <span>Teacher Review</span>
    <input type="text" name="search" placeholder="Search Teacher">
    <label for="search" id="search"></label>
  </div>-->

</div>
