<!-- !DOCTYPE -->
<div class="header">
  <link rel="stylesheet" type="text/css" href="profile.css">
<!--   NOT LINKED -->
  <a href="/"><i class="material-icons"> home </i></a> 
</div>

<div class="profilebox">
  <div class="Identification">
    <span>Name: {{ name }}</span> <br>
    <span>ID#: {{ ruid }}</span>
  </div>

  <div class="img-profile">
    <i class="material-icons">account_box</i>
    <img src="" alt="">
  </div>

  <div class="avgstats">
    <span>Average Stats</span>
  </div>
  <div class="SelfEval">
    <span>Self Evaluation</span>
  </div>
</div>
<div class="review">
  <table border = "1">
    <tr>
      <th>
        Reviewer ID
      </th>
      <th>
        Grade
      </th>
      <th>
        % Work Contributed
      </th>
      <th>
        Professor
      </th>
      <th>
        Partner Again?
      </th>
    </tr>  
      
    {% for review in reviews %}
    <tr>
      <td>
        {{ review['reviewerid'] }}
      </td> 
      <td>
        {% if review['grade'] == 1 %}
          D
        {% elif review['grade'] == 2 %}
          C
        {% elif review['grade'] == 3 %}
          B
        {% else %}
          A
        {% endif %}
      </td>
      <td>
        {{ review['percentage'] }}
      </td>
      <td>
        {{ review['prof'] }}
      </td>
      <td>
        {% set repartner = review['repartner'] %}
        {% if repartner == 0 %}
          No
        {% else %}
          Yes
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>



  </table>  
</div> 
  
  
  
  
  
