<!-- !DOCTYPE -->
<div class="header">
  <link rel="stylesheet" type="text/css" href="create.css">
<!--   NOT LINKED -->
  <a href=""<i class="material-icons"> home </i></a> 
</div>
<div class="title">
  <span>Class Name:Databases</span>
</div>

<div class="professor">
<!--   not linked  -->
  <ul>List of Professor that teach this
    <li>
      <a href="">Professor:X</a>
    </li>
    <li><a href="">Professor:Y</a>
    </li>
    <li>
      <a href="">Teacher:Z</a>
    </li>
  </ul>
</div>
<div class="stats">
  <span>average stats for class</span>
</div>
<div class="reviews">
  <span>Review 1</span> <br> <br>
  <span>Review 2</span> <br> <br>
  <span>Review 3</span>
</div>