<doctype html>
<h1>Wall of FAME </h1>
<div class="best">
  <table border = "1">
    <tr>
      <th>
        Reviewer
      </th>
      <th>
        Partner
      </th>
      <th>
        Grade
      </th>
      <th>
        % Work Contributed
      </th>
      <th>
        Professor
      </th>
      <th>
        Partner Again?
      </th>
    </tr>  
      
    {% for review in best %}
    <tr>
      <td>
        {{ review['reviewerid'] }}
      </td>
      <td>
        {{ review['partnerid'] }}
      </td>
      <td>
        {% if review['grade'] == 1 %}
          D
        {% elif review['grade'] == 2 %}
          C
        {% elif review['grade'] == 3 %}
          B
        {% else %}
          A
        {% endif %}
      <td>
        {{ review ['percentage'] }}
      </td>
      <td>
        {{ review ['prof' ] }}
      </td>
      <td>
        {% if review ['repartner'] == 1 %}
        Yes
        {% else %}
        No
        {% endif %}
      </td>
    {% endfor %}
  </tr>
</table>


  <h1> Wall of SHAME </h1>
<div class="worst">
  <table border = "1">
    <tr>
      <th>
        Reviewer
      </th>
      <th>
        Partner
      </th>
      <th>
        Grade
      </th>
      <th>
        % Work Contributed
      </th>
      <th>
        Professor
      </th>
      <th>
        Partner Again?
      </th>
    </tr>  
      
    {% for review in worst %}
    <tr>
      <td>
        {{ review['reviewerid'] }}
      </td> 
      <td>
        {{ review['partnerid'] }}
      </td>
      <td>
        {% if review['grade'] == 1 %}
          D
        {% elif review['grade'] == 2 %}
          C
        {% elif review['grade'] == 3 %}
          B
        {% else %}
          A
        {% endif %}
      <td>
        {{ review ['percentage'] }}
      </td>
      <td>
        {{ review ['prof' ] }}
      </td>
      <td>
        {% if review ['repartner'] == 1 %}
        Yes
        {% else %}
        No
        {% endif %}
      </td>
    {% endfor %}
  </tr>
</table>
</html>
